header {
    z-index: 99;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
}

/****NAVBAR****/
.nav-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.5% 5%;
    background-color: rgba(0, 0, 0, 0.13);
}

/*MENU*/
.menu-button {
    width: 12%;
}

/*LANGUAGE*/
.language {
    width: 12%;
    height: 42px;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 99;
}

.language p {
    height: 100%;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.185em;
}

.language img {
    margin: 8% 0;
}

/****OVERLAY NAV****/
.overlay-nav {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -100vh;
    z-index: 95;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px); /*Not supported in some browser, what should we do instead?*/
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 1.2s ease;
}

.transform-active {
    top: 0;
}

.overlay-nav-menu {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-nav-menu ul {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15%;
}

.overlay-nav-menu li {
    text-transform: uppercase;
}

.overlay-nav-menu a {
    color: white;
    text-decoration: none;
}

.overlay-nav-menu a:active, .overlay-nav-menu li:active {
    color: #BB9941;
}

/****MEDIA QUERIES FOR DESKTOP****/
@media (min-width: 1024px) {

}
