.image-section3 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20% 0;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    line-height: 28px;
}

.img-slide {
    height: 32vh;
    display: flex;
    justify-content: space-between;
}

.arrow-holder {
    height: 100%;
    width: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-outer-holder {
    height: 100%;
    width: 85%;
    border: 2px solid white;
}

.img-inner-holder {
    height: 100%;
    display: flex;
    overflow-x: scroll;
}

.img-inner-holder img {
    height: 100%;
    object-fit: cover;
}

.download-brochure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn:focus {
    outline: none;
}

.btn:active {
    background-color: #BB9941;
}
