.image-section1 .background-image {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    z-index: -1;
}

.image-section1 .background-image-mobile {
    display: inline-block;
}

.image-section1 .background-image-desktop {
    display: none;
}

@media (min-width: 1024px) {
    .image-section1 .background-image-mobile {
        display: none;
    }
    .image-section1 .background-image-desktop {
        display: inline-block;
    }
}

.image-section1 {
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;
}

.image-section1 .logo-box h2 {
    margin-top: 43%;
    margin-bottom: 1.66em;

    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.18em;
}

.image-section1 .logo-box img {
    height: 25px;
    width: 303px;
}

.image-section1 img {
    height: 44px;
}

@media (min-width: 1024px) {
    .image-section1 .logo-box h2 {
        margin-top: 28vh;
        margin-bottom: 6vh;
        font-size: 24px;
    }
    .image-section1 .logo-box img {
        height: 36px;
        width: 405px;
    }

}
