/****FRONT****/
.front {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 22% 5% 10%;
}

.front h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    line-height: 28px;
}

/****COLOR-PICKERS****/
.color-pickers {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.color-picker-touch, .outer-circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-picker-touch {
    width: 44px;
    height: 44px;
    border-radius: 100%;
}

.inner-circle {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 4px 10px rgba(154, 154, 154, 0.1);
}

.outer-circle {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-radius: 100%;
}

/*STYLING FOR WHEN COLOR IS ACTIVE*/
.active-outer-circle {
    border-width: 2px;
    border-style: solid;
    box-shadow: 0px 4px 10px rgba(154, 154, 154, 0.1);
    border-color:  #BB9941;
}

/*COLORs*/
.gold {
    background-color: #BB9941;
}

.light-grey {
    background-color: #353C4E;
}

.white {
    background-color: #FFFFFF;
}

.dark-grey {
    background-color: #272727;
}

/****BACK****/
.back {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-color: darkgrey;
}

.car-holder {
    position: absolute;
}

.car-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 55%;
}

.active-car {
    z-index: 99;
}

/****MEDIA QUERIES FOR DESKTOP****/
@media (min-width: 1024px) {
    .front {
        padding: 5% 10% 3%;
    }

    .color-pickers {
        padding: 0 35%;
        align-items: flex-end;
    }

    .back picture {
        height: 100%;
    }

    .car-holder img {
        object-position: 10% 40%;
    }
}
