.image-section2 .background-image {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    z-index: -1;
}

.image-section2 .background-image-mobile {
    display: inline-block;
}

.image-section2 .background-image-desktop {
    display: none;
}

@media (min-width: 1024px) {
    .image-section2 .background-image-mobile {
        display: none;
    }
    .image-section2 .background-image-desktop {
        display: inline-block;
    }
}

.image-section2 {
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.image-section2 h2 {
    margin-top: 18%;
    text-transform: uppercase;
}

.image-section2 .wrapper {
    height: 50px;
    margin-bottom: 18%;
}

.image-section2 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section2 div div {
    padding: 0 8px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.image-section2 div div div {
    padding: 0;

    flex-direction: row;
    justify-content: center;

}

.image-section2 div > * {
    margin: 0;
}

.image-section2 div > * > * {
    margin: 0;
}

.image-section2 .wrapper div:nth-child(2) {
    border-left: 1px solid #BB9941;
    border-right: 1px solid #BB9941;
}

.image-section2 div div h2 {
    letter-spacing: 0.02em;
}

.image-section2 div div p {
    margin-top: 0.35em;
}

.image-section2 div div span p {
    font-size: 8px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

.image-section2 .stars {
    height: 13px;
    width: 65px;
    margin-top: 0.75em;
}

@media (min-width: 1024px) {
    .image-section2 h2 {
        margin-top: 5vh;
    }
    .image-section2 .wrapper {
        height: 100px;
        margin-bottom: 5vh;
    }
    .image-section2 div div h2 {
        margin: 0;
    }
    .image-section2 .stars {
        height: 25px;
        width: 128px;
        margin-top: 1.8em;
    }
    .image-section2 div div span p {
        font-size: 16px;
    }
}
