/****IMAGE-SECTION3***/
.image-section3 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10% 0 25%;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    line-height: 28px;
}

/****IMG-SLIDE****/
.img-slide {
    height: 32vh;
    display: flex;
    justify-content: space-between;
}

/*ARROW-HOLDEr*/
.arrow-holder {
    height: 100%;
    width: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****IMG-OUTER-HOLDER****/
.img-outer-holder {
    height: 100%;
    width: 85%;
    border: 2px solid white;
}

/*IMG-INNER-HOLDER*/
.img-inner-holder {
    height: 100%;
    display: flex;
    overflow-x: scroll;
}

.img-inner-holder picture {
    height: 100%;
}

.img-inner-holder img {
    height: 100%;
    object-fit: cover;
}

/**DOWNLOAD-BROCHURE**/
.download-brochure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn:focus {
    outline: none;
}

.btn:active {
    background-color: #BB9941;
}

/****MEDIA QUERIES FOR DESKTOP****/
@media (min-width: 1024px) {
    /****IMAGE-SECTION3****/
    .image-section3 {
        padding: 5% 0 3%;
    }

    /****IMG-SLIDE****/
    .img-slide {
        height: 100%;
    }

    .arrow-holder {
        width: 100%;
    }

    .img-outer-holder {
        width: 49%;
    }

    .image-section3 .download-brochure {
        padding-top: 2%;
    }
}
