.watch-section {
    height: 65vh;
    width: 100%;
    background-color: #000000;
    overflow: auto;
    text-align: center;
}

.watch-container {
    height: 150px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.watch-scroll {
    height: 100%;
    width: 600px;
}

.watch-scroll .image-box {
    display: inline-block;
    height: 150px;
    width: 163px;
    margin: 0 12px;
    border: 1px solid white;
}

.watch-section img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.watch-section h2 {
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 63px;
}

.watch-section p {
    margin-top: 46px;
    margin-bottom: 20px;
    line-height: 36px;
}

@media (min-width: 1024px) {
    .watch-section {
        height: 100vh;
    }
    .watch-container {
        height: 277px;
    }
    .watch-scroll {
        width: 100%;
    }
    .watch-scroll .image-box {
        height: 277px;
        width: 272px;
        margin: 0 12px;
    }
    .watch-section h2 {
        margin-top: 30vh;
    }
}
