.watch-section {
    height: 65vh;
    width: 100%;
    background-color: #000000;
    overflow: auto;
    text-align: center;
}

.watch-container {
    height: 150px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.watch-scroll {
    scroll-padding: 50%;
    scroll-snap-align: center;
    height: 150px;
    width: 600px;
}

.watch-scroll .image-box {
    display: inline-block;
    height: 150px;
    width: 163px;
    margin: 0 12px;
    border: 1px solid white;
}

.watch-section h2 {
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 63px;
}

.watch-section p {
    margin-top: 46px;
    margin-bottom: 20px;
    line-height: 36px;
}

.watch-section img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
