@font-face {
    font-family: 'AktivGrotesk';
    font-weight: normal;
    src: url('../fonts/AktivGrotesk-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'AktivGrotesk';
    font-weight: bold;
    src: url('../fonts/AktivGrotesk-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'AktivGrotesk';
    font-weight: 300;
    src: url('../fonts/AktivGrotesk-Light.otf') format('opentype');
}

@font-face {
    font-family: 'AktivGrotesk';
    font-weight: 500;
    src: url('../fonts/AktivGrotesk-Medium.otf') format('opentype');
}

body {
    font-size: 62.5%;
    width: 100vw;
}

h1, p {
    font-family: 'AktivGrotesk';
}

h1 {
    font-size: 2.2em;
}

p {
    font-size: 1.6em;
}
